<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Home</title>
</head>
<body>
    <header class="header">
		<h1 class="logo"><a href="#">Appointment Schedule</a></h1>
        <ul class="main-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/appointments">Create an Appointment</a></li>
          <li><a href="/profile"><i class="fa-regular fa-user"></i> Profile</a></li>
        </ul>
	</header>
  
  <section>
    <h1 class="upcoming">Upcoming Appointments</h1>
  </section>

<div class="flex-container">
  <% appointmentsTaken.map((appointment) => { %>
    <div class="card">
      <h1 class="title"><%= appointment.obj.title %> </h1>
      <hr>
      <p class="agenda"><%= appointment.obj.agenda %> </p>
      <p><%= appointment.obj.date %> <%= appointment.obj.time %></p>
      <p><%= appointment.name %> </p>
    </div>
  <% }) %>
  <!-- <div class="card">
    <h1 class="title">Title</h1>
    <hr>
    <p class="agenda">Agenda</p>
    <p>Time</p>
    <p>Guest</p>
  </div>
  <div class="card">
    <h1 class="title">Title</h1>
    <hr>
    <p class="agenda">Agenda</p>
    <p>Time</p>
    <p>Guest</p>
  </div>
  <div class="card">
    <h1 class="title">Title</h1>
    <hr>
    <p class="agenda">Agenda</p>
    <p>Time</p>
    <p>Guest</p>
  </div> -->
</div>
</body>
</html>